<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmbitourSocketServerService.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AmbitourSocketServerService.Settings1>
            <setting name="Port" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="ServerIPAddress" serializeAs="String">
                <value>10.10.68.28</value>
            </setting>
            <setting name="IncomingQueue" serializeAs="String">
                <value>C:\Ambitour\incomingRequest\</value>
            </setting>
            <setting name="FileExtension" serializeAs="String">
                <value>.xml</value>
            </setting>
            <setting name="SocketReceivedTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
        </AmbitourSocketServerService.Settings1>
    </userSettings>
</configuration>